// colors backgroud sections 
$background-sobremim: #080027;
$background-formacao: linear-gradient(180deg, #080027 4.1%, #752FE7 57.55%, #6100FE 100%);
$background-habilidades: linear-gradient(180deg, #6202FC 0%, #0D0021 100%);
$background-bottom: linear-gradient(180deg, #080027 50%, #260062 100%);
$background-end: linear-gradient(180deg, #250061 0%, #141313 17.71%);

//text colors

$text-gray: #ffffff8c;
$text-white: #fff;


//colors bg buttons

$bg-btn-dark: #1F1F1F;
$bg-btn-light: #1F1F1F;
