@import "variebles";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Titillium Web;
}

body{
  overflow-x: hidden;
}

.nav {

  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;

  z-index: 9999;
  
  background-color: transparent;
  transition: all ease-in-out 0.2s;

}

.navLogo {
  height: auto;
  width: 12rem;

  img {
    width: 100%;
    height: 100%;
  }
}

.navOptions {
  display: flex;
  justify-content: center;
  align-items: center;

  .navOption {
    display: flex;
    text-align: center;

    margin: 0 2rem;
    height: 1.1rem;
  }

  .spanArea {
    width: 1.2rem;
  }

  .spanLine {
    display: flex;
    justify-content: center;

    width: 0%;
    height: 100%;
    border-bottom: 1px solid #fff;
  }

  .navOption h6 {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    transition: all ease 0.2s;
  }

  .navOption a {
    text-decoration: none;
  }

  .navOption:hover .spanLine {
    display: flex;
    width: 100%;

    border-bottom: 1px solid #fff;
    transition: all ease-in-out 0.2s;
  }


}


/// main Sobre mim

.sobreMim {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 100vh;
  background-color: $background-primary;
  position: relative;

  .sobreMimBG {
    z-index: 0;
    position: absolute;

    img {

      width: 100%;
      height: 100%;
    }
  }

  .sobreMimTitle {
    z-index: 1;
    position: relative;
    margin-bottom: 8px;

    p {
      position: absolute;
      top: -20%;
      left: -8%;
      color: #fff;

    }

    h1 {
      color: #fff;
      font-weight: 600;
      font-size: 42pt;

    }

  }

  .sobreMimBox {
    z-index: 1;
    background-color: #202020;
    border-radius: 5px;
    box-shadow: 8px 16px 16px rgba(0, 0, 0, 0.623);
    transition: all ease 1s;
    margin-bottom: 24px;
    height: 0px;
    overflow: hidden;

    p {
      width: 100%;
      color: #fff;
      padding: 16px;
      margin: 0;

    }


  }


  .sobreMimButton {
    z-index: 1;

    button {
      width: 100%;
      border: none;
      height: 45px;
      padding: 8px;
      border-radius: 2px;

      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.623);

      color: #fff;
      background-color: #141414;
      font-weight: 600;


    }
  }
}

.formacao {
  display: flex;
  flex-direction: column;
  background: $background-formacao;
  height: 100vh;


  .formacaoTitle {
    z-index: 1;
    display: flex;
    flex-direction: row;

    h1 {
      color: #fff;
      font-weight: 600;
      font-size: 35pt;
      margin-top: 64px;
    }

  }

  .formacaoImg {
    display: flex;
    width: 500px;
    margin-left: 100px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.formacaoBG {
  position: absolute;
  left: -2%;
  z-index: 0;
  img {
  
    width: 100%;
    height: 100%;
  }
}
.formacaoCards{
  z-index: 1;
}
.formacaoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(79, 244, 255, 1) 0%, rgba(171, 48, 246, 1) 0%, rgba(79, 244, 255, 1) 49%, rgba(171, 48, 246, 1) 100%, rgba(0, 212, 255, 1) 100%);
  height: 250px;
  margin: 8px;

  .borderCard {
    padding: 16px;
    background: radial-gradient(51.6% 51.6% at 51.72% 48.4%, #231360 0%, #080027 100%);
    height: 245px;
    width: 99%;
  }

  .cardTitle {
    display: flex;
    align-items: center;

    strong {
      color: #fff;
      margin: 0 8px 0 16px;
    }

    p {
      color: #ffffffa2;
      margin-right: 16px;
      margin-bottom: 0px;
    }

    .logoStatus {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      width: 25px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .cardInfos {
    display: flex;
    flex-direction: column;

    strong {
      color: #fff;
      margin-top: 16px;
    }

    p {
      margin: 4px 0 0 0;
      color: #ffffffa2;
    }
  }
}

.habilidades{
  display: flex;
  flex-direction: row;
  padding-bottom: 80px;
  height: 100%;
  background: $background-habilidades;

  .habilidadesTitle{
    margin: 250px 0 250px 0;
    h1{
      color: #fff;
      font-weight: 600;
    }
  }

  .habilidadesBoxImg{
   
    .habilidadesImg1, .habilidadesImg2{
      position: absolute;
      width: 550px;
      height: 550px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .habilidadesImg1{
      z-index: 1;
    }
    .habilidadesImg2{
      z-index: 0;
      animation: rotateIcons infinite 60s ;
    }

    @keyframes rotateIcons {
      from{
        transform: rotate(0deg);
      }to{
        transform: rotate(360deg);
      }
    }
  }
  
  .language{
    background-color: $background-primary;

    border-radius: 5px;
    box-shadow: 12px 15px 8px rgba(0, 0, 0, 0.65);

    width: 200px;
    margin: 16px;

    h5{
      padding: 8px;
      color: #fff;
      margin-bottom: 0;
    }

    .boxLanguageIcon{
        padding: 8px;
        width: 68px;
        height: 71px;
      img{
        height:100%;
        width: 100%;
      }
    }
  }
  #secondeLine{
    margin-left: 120px;
  }
}

.projetos{
  background: $background-projetos;

  .boxProjetosImg{
    width: 750px;

    img{
      width: 100%;
      height: 100%;
    }
  }

  .titleProjeto{
    color: #fff;
    font-weight: 600;
  }

  .container-slides{
    position: relative;
    display: flex;
    justify-content: center;
    .buttons{
      z-index: 9;
      position: absolute;
      top: 75%;

      span{
        display: inline-block;
        border: none;
        background-color: #ffffff63;

        border-radius: 100%;
        width: 15px;
        height: 15px;

        cursor: pointer;

      }
    }
  }

  .carroseul-container{
    overflow: scroll;
    scroll-behavior: smooth;
    position: relative;
    margin-bottom: 64px;
    
  }

  .carroseul-container::-webkit-scrollbar{
    display: none;

  }

  .carroseul{
    
    min-height: 500px;
  }

  .carroseul-infos{
    background: linear-gradient(135deg, #C96AA8 0%, #5C0BED 100%);

    .carroseul-title{
      margin: 16px 0;
      background-color:#141313;;
      width: 100%;
      height: 90px;


      h1{
        margin-bottom: 0;
        font-size: 55pt;
        font-weight: 700;
        margin-left: 66px;
        color: #fff;
      }
      
    }
    .carroseul-describe{
      background: linear-gradient(90deg, #000 43.23%, #242424 100%);
      box-shadow: 8px 15px 10px 0px rgba(0, 0, 0, 0.71);
      width: 85%;
      padding: 8px 8px 32px 8px;
      margin-top: 50px;
      min-height: 230px;

      p{
        color: #fff;
        font-weight: 600;
      }
    }

    .carroseul-footer{
      margin-top: 20%;
      margin-left: 8px;
      color: #fff;
    }

    
  }

  .carroseul-img{
    background-color: #000;
    .img-box{
      filter: grayscale(100%);
      transition: all ease 0.3s;
      
      padding: 16px;

      cursor: pointer;

      img{

        width: 100%;
        height: 100%;
      }

    }
    .img-box:hover{
      filter: grayscale(0%);
    }
  }
  
}

.myFooter{
  background-color: #141313;
  border-top: 1px solid #fff;

  .cols{
      margin: 32px 32px 130px 32px;
      width: 230px;
      
      h4{
        font-weight: 700;
        color: #C88AF9;
      }

      p{
        color: #fff;
      }

  }
}