@import "variebles";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: Titillium Web;
}


.nav{

  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;

  z-index: 9999;

  background-color: transparent !important;
  
}

.navLogo {
  height: auto;
  width: 12rem;
  img {
    width: 100%;
    height: 100%;
  }
}

.navOptions{
  display: flex;
  justify-content: center;
  align-items: center;

  .navOption{
    display: flex;
    text-align: center;
  
    margin: 0 2rem;
    height: 1.1rem;
  }

  .spanArea{
    width: 1.2rem;
  }
  .spanLine{
    display: flex;
    justify-content: center;
  
    width: 0%;
    height: 100%;
    border-bottom: 1px solid #fff;
  }

  .navOption h6{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: aliceblue;
    transition: all ease 0.2s;
  }
  
  .navOption a{
    text-decoration: none;
  }
  
  .navOption:hover .spanLine{
      display: flex;
      width: 100%;
  
      border-bottom: 1px solid #fff;
      transition: all ease-in-out 0.2s;
  }

  
}






.devAbout{
   display: flex;
   height: 100vh;
   width: 100%;

  background: $background-top;


}
 .devAboutBg{
    
    img{
      position: absolute;
      top: 20%;
      width: 100%;
      height: 100%;
     }

   }

.devAboutContent{
   display: flex;
   justify-content: center;

   .devAboutInfo{
      display: flex;
      flex-direction: column;
      position: relative;
      top: -10%;

      p{
        margin-left: -1rem;
        text-align: start;
        margin-bottom: 0;
        height: 1rem;

        color: $text-gray;
      }

      h1{
        text-align: center;

        font-weight: 600;
        color: $text-white;
        font-family: Kameron, sans-serif;

      }

      .button{
       
        button{
          width: 100%;
          border: 0;
          height: 2.8rem;


          background: $bg-btn-dark;
          color: $text-white;
          box-shadow: 8px 8px 8px #050505;
          border-radius: 0.2rem;
          
        }
      }
   }
}
.devAcademy{
  height: 100vh;
  background: $background-mid;
  
}
.devAcademyBg{
  
  position: relative;
  height: 100%;
  width: 100%;

    img{
    
      position: absolute;
      height: 100%;
      width: 100%;
      top: 20%;
    }
}

